@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import "common_style.css";
@import "header.css";
@import "footer.css";

main {
  padding: 2rem;
}

main article h2 {
  text-align: center;
  font-family: "Aboreto", cursive;
  font-size: 2.5rem;
}

main article aside {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.5rem;
}

main article aside img {
  width: 100%;
}

main article a{
    color: #5870cb;
}

main article a:hover{
    color: #415396;
}

main article p span{
    font-weight: bold;
}
